h1 {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

div.con {
  border: 1px solid #be3455;
  max-width: 500px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 40px; /* 내부 여백 설정 */
}
.email_area .form-control {
  width: 33%;
}

div.email_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.users_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.users_pass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.users_phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-control {
  width: 72%;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 5px;
}

/*인풋박스 선택시 테두리없애기 및 색변경*/
input:focus {
  outline: none;
  border-bottom: 1px solid #be3455;
}

/*가입완료 버튼*/
.btn {
  text-align: center; /* 버튼을 가운데 정렬 */
}

.btn-primary {
  background-color: #be3455;
  border: 1px solid #be3455;
  color: white; /* 텍스트 색상 설정 */
  padding: 10px 20px; /* 내용의 여백 설정 (상하 10px, 좌우 20px) */
  border-radius: 5px; /* 테두리의 모서리 둥글기 설정 */
  cursor: pointer; /* 커서 스타일을 포인터로 변경하여 버튼 모양을 나타냄 */
  display: inline-block; /* 요소를 인라인 블록으로 표시하여 텍스트와 수평 정렬 */
  font-size: 16px; /* 폰트 크기 설정 */
  font-weight: normal; /* 폰트 굵기 설정 */
  text-decoration: none; /* 텍스트에 밑줄 제거 */
  /*버튼의 크기는 기본크기 상태*/
}
