* {
  font-family: "Pretendard-Regular";
}

.searchBar {
  padding: 5px 30px;
  background-color: #c9c9c9;
}

.selectBox,
.selectBox option {
  width: 100px;
  height: 30px;
}

.searchBar > ul > li {
  height: 80%;
}

.searchField {
  list-style: none;
}
/* FormLabel tag */
label {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 30px;
}
.totalSearch {
  text-align: right;
  margin: 10px;
}

.strongText {
  color: #a82040;
}

input {
  width: 60%;
}

.fieldOne {
  float: left;
  margin: 10px 20px;
}

.fieldTwo {
  margin: 10px 20px;
}

.selectBox option {
  padding: 0 10px;
}

.buttonSearch {
  background-color: #be3455;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  position: relative;
  margin: 5px;
}

.buttonSearch:hover {
  background-color: #a82040 !important;
}

.buttonBack {
  background-color: #d9d9d9;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  position: relative;
  margin: 5px;
  cursor: pointer;
}
.buttonBack:hover {
  background-color: grey !important;
}
