* {
  font-family: "Pretendard-Regular";
}

.col-3 {
  width: 18%;
  display: contents;
}

.mainCard {
  width: 230px;
  height: 480px;
  margin: 10px;
}

/* Link tag */
a {
  text-decoration-line: none;
  color: black;
}

.cardText {
  padding: 30px 0;
  position: absolute;
  bottom: 5px;
}

.thumbnail {
  height: 280px;
  width: 100%;
  padding: 10px;
}

.row {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  margin: 0 auto;
  /* background-color: antiquewhite; */
}
