.main .slide-Area {
  margin-bottom: 100px;
}

.main .banner-List {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .banner-List .list-Item {
  width: 430px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
}

.main .banner-List .list-Item img {
  width: 100%;
}

.main .calender-daylist-Area {
  display: flex;
  justify-content: space-between;
}

.main .calender-daylist-Area .calender-Area {
  width: 44%;
}

.main .calender-daylist-Area .calender-Area .react-calendar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-family: "Pretendard";
}

.main
  .calender-daylist-Area
  .calender-Area
  .react-calendar
  .react-calendar__tile--now {
  background-color: #be3455;
  color: #fff !important;
  border-radius: 5px;
}

/* .react-calendar__tile--active {
  background: gray;
  border-radius: 5px;
}

.main
  .calender-daylist-Area
  .calender-Area
  .react-calendar
  .react-calendar__tile--active:enabled:hover,
.main
  .calender-daylist-Area
  .calender-Area
  .react-calendar
  .react-calendar__tile--active:enabled:focus {
  background: gray;
} */

.main
  .calender-daylist-Area
  .calender-Area
  .react-calendar
  .react-calendar__tile--now
  abbr {
  color: #fff !important;
}

.main .calender-daylist-Area .day-List-Area {
  width: 54%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 300px;
  overflow: auto;
}

.main .calender-daylist-Area .day-List-Area::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.main .calender-daylist-Area .day-List-Area::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.main .calender-daylist-Area .day-List-Area .day-List {
  margin: 20px;
}

.main .calender-daylist-Area .day-List-Area .d-list-Item {
  padding: 20px !important;
  border-bottom: 1px solid #d9d9d9;
}

.main .calender-daylist-Area .day-List-Area .d-list-Item:last-child {
  border-bottom: 0;
}

.main .calender-daylist-Area .day-List-Area .d-list-Item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .calender-daylist-Area .day-List-Area .d-list-Item a:hover span {
  color: #be3455 !important;
}

.main .calender-daylist-Area .day-List-Area .d-list-Item a .m-title {
  font-weight: 600;
}

.main .calender-daylist-Area .day-List-Area .d-list-Item a .m-date {
  font-size: 0.8rem;
}

.main .videoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .videoBox .video {
  width: 33% !important;
  height: 260px !important;
}

.main .taster-List-Area .title h1 {
  margin: 0;
}

.main .taster-List-Area .taster-List .tab-area {
  width: 100%;
  margin: 0 auto;
}

.main .taster-List-Area .taster-List .tab-area .tab-content {
  width: 100%;
  margin: 0 auto;
}

.main .taster-List-Area .taster-List .tab-area .nav {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main .taster-List-Area .taster-List .tab-area .nav-link {
  color: #be3455;
}

.main .taster-List-Area .taster-List .tab-area .nav-link.active {
  background-color: #be3455;
  color: #fff !important;
}

.main .taster-List-Area .taster-List .taster-List-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .taster-List-Area .taster-List .taster-List-Item {
  width: 32%;
  margin: 0 10px;
  height: 500px;
}
.main .taster-List-Area .taster-List .taster-List-Item .card-title {
  margin-bottom: 20px !important;
}
.main .taster-List-Area .taster-List .taster-List-Item img {
  padding: 10px;
}

.algoList {
  display: flex;
}

.algoTitle {
  padding-bottom: 40px;
}

/* 1200 */
@media screen and (max-width: 1200px) {
  .algoList .col-3 {
    width: 25%;
    padding: 10px;
  }

  .banner-List .list-Item {
    width: 550px !important;
    height: auto !important;
    margin: 10px 0 !important;
  }

  .main .d-block {
    height: 500px;
  }

  .main .slide-Area {
    padding-bottom: 60px;
  }

  .main .calender-daylist-Area .day-List-Area {
    height: 260px;
  }
  .main .calender-daylist-Area .day-List-Area .d-list-Item {
    padding: 16px 10px !important;
  }
}

@media screen and (max-width: 1020px) {
  .algoList .col-3:last-child {
    display: none;
  }
  .algoList .col-3 {
    width: 33%;
    padding: 20px;
  }
  .banner-List .list-Item {
    width: 460px !important;
  }
  .taster-List-Item:last-child {
    display: none;
  }
  .taster-List-Item {
    width: 33%;
    margin: 20px !important;
  }

  .main .calender-daylist-Area .day-List-Area {
    height: 300px;
  }
  .main .calender-daylist-Area .day-List-Area a {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .main .videoBox .video:last-child {
    display: none;
  }
  .main .videoBox .video {
    width: 460px !important;
  }
}
