.user-info {
  /* padding-bottom: 60px; */
  border-bottom: 1px solid #d9d9d9;
}

.user-info .user-info-img-area {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  overflow: hidden;
  /* background-color: #BE3455;     */
}
.user-info .user-info-img {
  width: 200%;
}

.user-info .user-info-desc-area {
  width: 33%;
  margin: 0 auto;
}
.user-info-desc-area .user-info-desc {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info-desc-area .user-info-desc .user-info-desc-l {
  width: 40%;
}
.user-info-desc-area .user-info-desc .user-info-desc-r {
  width: 60%;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
  text-align: center;
}

.user-info-desc-area .passcheck {
    padding-top: 5px;
}


.list-diary-area {
  padding-top: 60px;
  width: 40%;
  margin: 0 auto;
}
.list-diary-area .tab-area .tab-li {
  padding-left: 20px;
  border-bottom: 0;
}
.list-diary-area .tab-area .tab-li .nav-item button {
  border: 1px solid #be3455;
  color: #be3455 !important;
}
.list-diary-area .tab-area .tab-li .nav-item .nav-link.active {
  background-color: #be3455;
  border: 1px solid #be3455;
  border-color: #be3455;
  color: #fff !important;
}
.list-diary-area .tab-area .tab-content-area {
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background-color: #be3455;
  padding: 10px;
}
.list-diary-area .tab-area .tab-content-area .tab-content-desc {
    height: 580px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}

.tab-content-desc .user-diary-write .title-form-area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.tab-content-desc .user-diary-write .title-form-area input {
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    width: 88%;
}

.tab-content-desc .user-diary-write textarea {
    width: 100%;
    resize: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px;
  }

.tab-content-desc .user-diary-write textarea::placeholder {
    font-size: 0.8rem;
    color: #999;
}

.tab-content-desc .user-diary-write textarea:focus {
    outline: none;
    border: 1px solid #BE3455;
}

.list-diary-area .tab-area .tab-content-area .tab-content-desc .user-diary-list {
    height: 320px;
    overflow: auto;
    padding-right: 5px;
}

.tab-content-desc .user-diary-list::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.tab-content-desc .user-diary-list::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #BE3455;
    border-radius: 5px;
}

/* diary */
.form-Area {
    padding-bottom: 40px;
}

.list-item {
    padding-bottom: 10px;
}

.user-diary-list .title-Area {
    display: flex;
    flex-direction: column;
}

.user-diary-list .title-Area small.d-date {
    font-size: 0.8rem;
    padding-top: 4px;
    color: #999;
}

.accordion-button:focus {
    border-color: #BE3455;
    box-shadow: none;
}

.accordion-item {
    border: 1px solid #BE3455;
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    color: #fff !important;
    box-shadow: none;
    font-weight: 700;
}

.accordion-button:not(.collapsed) .d-date {
    color: #333 !important;
    font-weight: 500;
}

.accordion-button {
    padding: 16px;
}

@media screen and (max-width : 1200px) {
  .list-diary-area {
    width: 80%;
  }
}