/* .join-form .form-group input:focus {
  outline: none !important;
} */

.join-form .con {
  border: 1px solid #be3455;
  max-width: 500px;
  /* 최대 너비 설정 */
  margin: 60px auto;
  /* 가운데 정렬 */
  padding: 40px;
  /* 내부 여백 설정 */
  border-radius: 5px;
}

.join-form .email-input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-form .form-group {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


input.useid {
  margin-left: 30px;
}

div.userpass {
  text-align: center;
  margin-bottom: 25px;
}

.form-control {
  width: 75%;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  margin-left: 15px;
  border-radius: 0;
}

.email_area .form-control {
  width: 66%;
}

.login-btn {
  margin-right: 20px;
}